<main class="container mt-5">
  <h1 class="mb-4">Login</h1>
  <form class="employee-login-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username-employee-login"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-employee-login"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
       <div class="mb-6">
        <br>
            <p>Don't have an account? <a href="/signup">Sign up here</a></p>
        </div>
  </form>

</main>