<main class="container mt-4" style="padding-left: 50px;">
  <div class="row">
    <div class="col-md-4 mb-4">
      <h4>New Category Form</h4>
      <form method="post" id="category-form">
        <div class="mb-2">
          <label for="category_name" class="form-label">Category Name:</label>
          <input type="text" class="form-control" id="category_name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<h4>New Product Form</h4>
      <form method="post" id="product-form">
        <div class="mb-3">
          <label for="product_name" class="form-label">Product Name:</label>
          <input type="text" class="form-control" id="product_name" required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input type="text" class="form-control" id="price" name="price" required>
        </div>
         <div class="mb-3">
          <label for="unit" class="form-label">Unit:</label>
          <input type="text" class="form-control" id="unit" name="unit">
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock:</label>
          <input type="text" class="form-control" id="stock" name="stock" required>
        </div>
        <div class="mb-3">
          <label for="par" class="form-label">Par:</label>
          <input type="text" class="form-control" id="par" name="par" required>
        </div>
        <div class="mb-3">
          <label for="category_id" class="form-label">Category ID:</label>
          <input type="text" class="form-control" id="category_id" name="category_id" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
<div class="col-md-4 mt-4">
<h4>Inventory Overview:</h4>
  <div class="mb-1">
    <div class="card" style="padding-left: 10px; max-height: 700px; overflow-y: auto;">
      {{#each category}}
        <h4 style="text-decoration: underline;">{{category_name}}</h4>
        <p>ID: {{id}}</p>
        {{#each products}}
          <ul>
            <li>{{product_name}}</li>
          </ul>
        {{/each}}
      {{/each}}
    </div>
  </div>
</div>
  </div>
</main>
