
<h1>New Category Form</h1>

<form method="post" id="category-form">
  <label for="category_name">Category Name:</label>
  <input type="text" id="category_name" required>

  <br>

  <button type="submit">Submit</button>
</form>

<h1>New Product Form</h1>
<form method="post" id="product-form">
  <label for="product_name">Product Name:</label>
  <input type="text" id="product_name" required>

  <br>

  <label for="price">Price:</label>
  <input type="text" id="price" name="price" required>

  <br>

  <label for="unit">Unit:</label>
  <input type="text" id="unit" name="unit">

  <br>

  <label for="stock">Stock:</label>
  <input type="text" id="stock" name="stock" required>

  <br>

  <label for="par">Par:</label>
  <input type="text" id="par" name="par" required>

  <br>

  <label for="category_id">Category ID:</label>
  <input type="text" id="category_id" name="category_id" required>

  <br>

  <button type="submit">Submit</button>
</form>

