<main class="container mt-5">
  <h1 class="mb-4">Sign Up</h1>
  <form id="signup-form" class="employee-signup-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password must be over (8) Characters long"
        autocomplete="new-password"
      />
    </div>
    <div class="mb-3">
      <label for="managerID" class="form-label">Manager ID:</label>
      <input
        type="text"
        class="form-control"
        id="managerID"
        placeholder="Manager ID"
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
       <div class="mb-6">
        <br>
            <p>Already signed up? <a href="/login">Login here</a></p>
        </div>
  </form>
</main>